# Node modules
node_modules/

# Environment variables (always sensitive)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Build or dist folders (if you build for production)
dist/
build/

#notes
commonStatusCodes.txt

#others
practice.js
