BASE_URL=https://your-frontend-url.com
TEST_VALID_USERNAME = tester
TEST_USER_EMAIL= test@example.com
TEST_USER_PASSWORD = "#Password123"
TEST_INVALID_USER_PASSWORD = "#Password123"
TEST_INVALID_USER_EMAIL = test@example.com
BACKEND_BASE_URL=https://your-backend-url.com